#about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color:$grey;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 250px;
        
      i {
        color: $blue;
        padding: 20px;
      }

        p {
            text-align: center;
            font-size: 0.8em;
            padding: 10px;
            opacity: 0.5;
        }
    }
}


// @media (max-width:768px) {
//     #about {
//       flex-direction: column;
//     }
// }