#features {
    display: flex;
    height: 350px;
    justify-content: center;

    
    

    .img-1 {
        background: url(../content/bg-showcase-1.jpg);
        width: 50%;
        background-size: cover;
        background-position: center;
        
    }

    .img-3 {
        background: url(../content/bg-showcase-3.jpg);
        width: 50%;
        background-size: cover;
        background-position: center;
        
    }

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 40%;
        flex: 1;
        padding: 60px;
       

        p {
            padding-top: 10px;
            opacity: 0.5;
            line-height: 25px;
        }
    }
}

.features-1 {
    flex-direction: row-reverse;

    div {
        padding-left: 10px;
        
    }

    .img-2 {
        background: url(../content/bg-showcase-2.jpg);
        width: 50%;
        background-size: cover;
        background-position: center;
}
}

@media (max-width:768px) {
    
}